<div class="jumbotron">
    <h1>MASTER BIKES</h1>
    <p class="lead">Realizamos despachos a todo Chile! El precio de envío dependerá del producto y el destino. Los precios de envío para cada región son los siguientes:</p>
    <p><a href="https://solutoria.cl" class="btn btn-primary btn-lg">Leer mas &raquo;</a></p>
</div>
<div class="row">
        <div class="col-md-12">
            <div class="p-md">
                <p>Master Bikes es una marca creada el 2013 enfocada en diseñar bicicletas de calidad, accesibles y funcionales.</p>
                <p>En un contexto en que la bicicleta se populariza día a día como una nueva alternativa de transporte, buscamos ofrecer un producto con el que puedas encontrar ese pequeño momento de libertad personal camino al trabajo, los estudios o donde quieras ir.</p>
                <p>Con el tiempo, la colección de modelos se ha ido ampliando, al igual que nuestra comunidad de clientes y distribuidores a lo largo del país, siempre conectados por la pasión que para nosotros representa el ciclismo.</p>
                <p>Lo que buscamos es simple: crear las mejores bicicletas urbanas al mejor precio para lograr una comunidad de ciclistas llena de energía y motivación. Sabemos que una fixie puede hacer que ese trayecto al trabajo sea más agradable, libre y diferente cada día.</p>
                <p class="p1">Bienvenido a Master Bikes.</p>
            </div>
    </div>
    <div class="col-md-12">
        <h3>Garantía</h3>
        <p>Master Bikes ha trabajado constantemente en la calidad de sus productos, mejorando sus piezas con el paso del tiempo, al punto que la tasa de fallas es muy baja; por lo mismo extendemos nuestra garantía más allá de la exigencia legal, y protegemos a nuestros clientes con una garantía de 2 años para todos nuestros cuadros que presenten defectos de fabricación y 6 meses para nuestros componentes.</p>
        <p>Neumáticos, cámaras, sillines, cinta de manubrio, puños y pastillas de freno son piezas que naturalmente se desgastan con el uso, por lo que no están incluidos en la garantía. Nuestra garantía asegura un producto libre de fallas y de la más alta calidad en materiales y fabricación. Sin embargo esto no incluye defectos que resulten del mal uso, negligencia, abuso, falta de mantención o mala mantención. En Master Bikes no podremos activar la garantía para cualquier problema derivado de lo recién mencionado.</p>
        <p>Confiamos en nuestro producto y queremos que también lo hagas. La garantía aplica al primer dueño de la bicicleta, y se activa según el método de compra:</p>
        <h3></h3>
        <h3>Compra desde nuestra web</h3>
        <p>Si compraste la bicicleta desde nuestra web <a href="https://solutoria.cl">www.masterbikes.cl</a>, la garantía se activa armándola con un mecánico de bicicletas profesional; basta con guardar la boleta del taller/tienda que hizo el trabajo. No exigimos talleres/tiendas en específico. La bicicleta es un vehículo, por lo que es necesario que un profesional deje el producto armado de una manera que sea seguro para el usuario, así como también durable en el tiempo. Prioriza tu seguridad y acércate a la tienda o taller de bicicletas más cercana para sacarle el máximo provecho a tu experiencia con Master Bikes.</p>
        <p>Si tienes cualquier duda o problemas con una bicicleta comprada directamente desde nuestra web, contáctanos a través de <a href="mailto:hola@masterbikes.cl">contacto@masterbikes.cl</a> o al +56 9 5555 1234.</p>
        <h3></h3>
        <h3>Comprada a un distribuidor Master Bikes</h3>
        <p>Si compraste una bicicleta armada desde un distribuidor, tu garantía está automáticamente activada. Sólo tienes que ir a tu distribuidor, explicar el problema y en conjunto te proveeremos una solución lo antes posible.</p>
        <h3></h3>
        <h3>Comprada en nuestra tienda Master Bikes</h3>
        <p>Si compraste una bicicleta armada en nuestra tienda Master Bikes, tu garantía está automáticamente activada. Sólo tienes que contactarnos (a <a href="mailto:hola@masterbikes.cl">hola@masterbikes.cl</a> o al +56 9 6194 1234) explicar el problema y te proveeremos una solución lo antes posible.</p>
        <p>Todos los pedidos de garantía deben dirigirse a <a href="mailto:oscar.navarro@solutoria.cl">masterbikes@contacto.cl</a>. Master Bikes puede pedir fotos del daño y puede reemplazar sólo la pieza, o la bicicleta entera, dependiendo del caso y del criterio del mecánico. Pedalea seguro y siguiendo las leyes!</p>
        <h2></h2>
        <h3>Cambios y devoluciones</h3>
        <p>En Master Bikes somos amantes de las bicicletas y de la comunidad urbana de ciclistas. Sin embargo, errar es humano y entendemos que existan errores de compra, cambios de productos y devoluciones. Si no estás satisfecho con tu Producto, ofrecemos a todos nuestros clientes una política de cambio y devolución de 7 días. La bicicleta puede ser cambiada o devuelta siempre y cuando no haya sido armada ni usada de cualquier manera. Para que el cambio o devolución se haga efectivo, exigimos que la bicicleta se encuentre en las mismas condiciones en la cual se entregó; esto incluye el empaque original, además de la boleta. El cliente es en este caso responsable de todos los gastos de envío involucrados en esta devolución o cambio. En el caso que te haya llegado un producto que no corresponda, nosotros cubriremos todos los gastos asociados. Si el producto que te llegó no es el modelo que pediste, o la talla está mala, no te preocupes, lo solucionaremos. Sólo escríbenos a <a href="mailto:hola@masterbikes.cl">hola@masterbikes.cl</a> o llámanos al +56 9 6194 4635 y te ayudaremos.</p>
        <h2></h2>
        <h3>Reembolso</h3>
        <p>Cuando hayamos recibido y verificado el producto devuelto, te informaremos que está todo en correctas condiciones para seguir con el reembolso. Este reembolso se hará según el método de pago utilizado pero demora entre 2 y 6 días en cualquier caso.</p>

    </div>
</div>
